[user]
    email = australie.p@gmail.com
    name = Mathieu PATUREL
[core]
	trustctime = false
    editor = vim
    filemode = false
	eol = lf
[alias]
    nbcommit = rev-list --count HEAD
    last = log -1
    msg = !cat \".git/COMMIT_EDITMSG\"
    hub = "!f () { local REPO; local URL; [[ -f .githubrepo ]] && REPO=\"$(head -n 1 .githubrepo)\" || REPO=\"${PWD##*/}\"; URL=\"https://github.com/math2001/$REPO\"; if [[ \"$1\" == i ]]; then URL=\"$URL/issues\"; elif [[ \"$1\" == s ]]; then URL=\"$URL/settings\"; elif [[ \"$1\" == p ]]; then URL=\"$URL/pulls\"; elif [[ \"$1\" == w ]]; then URL=\"$URL/wiki\"; elif [[ \"$1\" == b ]]; then URL=\"$URL/branches\"; elif [[ \"$1\" == r ]]; then URL=\"$URL/releases\"; elif [[ \"$1\" == 'in' ]]; then URL=\"$URL/issues/new\"; fi; echo \"Opening $URL\"; }; f"
    ppl = !git populate
    populate = !python "~/git-template/populatr.py" ~/git-template/content/../root-content
    last-tag = describe --abbrev=0 --tags
    aliases = config --get-regexp alias.
    amend = commit --amend
[init]
    templateDir = ~/git-template/content
    populater = ~/git-template/populatr.py
[push]
    default = matching
[color]
    ui = true
[credential]
    helper = cache --timeout=3600
[merge]
    tool = vimdiff
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
