[user]
    email = australie.p@gmail.com
    name = Mathieu PATUREL
[core]
    hooksPath=~/dotfiles/git-hooks
	trustctime = false
    editor = vim
    filemode = false
    eol = lf
    autocrlf = false
[alias]
    worddiff=diff --color-words=.
    nbcommit = rev-list --count HEAD
    last = log -1 --relative-date
    msg = !cat \".git/COMMIT_EDITMSG\"
    last-tag = describe --abbrev=0 --tags
    aliases = config --get-regexp alias.
    amend = commit --amend
	c = checkout
	b = branch
[push]
    default = matching
[color]
    ui = true
[credential]
    helper = cache --timeout=3600
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    trustexitcode = false
[hooksforbiddenwords]
    py = print
    js = console.log,debugger
    go = fmt.Println
